<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<appSettings>
  <add key="corpid" value="wx07865fc450329e39"/>
  <add key="corpsecret" value="I9a_3M5v0IHF8kxlLnHs-rewwrMHJZAhfgxNqPkavMLjHCQEQLk19J6kWMVgdmrb"/>
</appSettings>
</configuration>